.race-track {
  position: relative;
  height: 70px;
  border-bottom: 2px dashed white;
  margin-bottom: 10px;
}

.select-button {
  position: relative;
  width: 70px;
  margin-right: 3px;
  background-color: #e3edfc;
  border: none;
  border-bottom: 4px solid #487ce0;
  border-radius: 3px;
}
.remove-button {
  position: relative;
  width: 70px;
  background-color: #e3edfc;
  border: none;
  border-bottom: 4px solid #487ce0;
  border-radius: 3px;
}

.select-button:active,
.remove-button:active {
  top: 2px;
  border-bottom: 1px solid #487ce0;
}

.engine-start-button,
.engine-stop-button {
  position: absolute;
  top: 30px;
  width: 25px;
  height: 25px;
  background-color: transparent;
  border: 1px solid greenyellow;
  border-radius: 3px;
  color: greenyellow;
  outline: none;
}
.engine-start-button {
  left: 0px;
}
.engine-stop-button {
  left: 28px;
  border: 1px solid red;
  color: red;
}
.engine-start-button:hover,
.engine-stop-button:hover {
  cursor: pointer;
}
.engine-start-button:disabled,
.engine-stop-button:disabled {
  cursor: default;
  border: 1px solid gray;
  color: gray;
}

.car {
  display: inline-block;
  position: absolute;
  bottom: -9px;
  left: 70px;
}

.car-name {
  position: absolute;
  top: 3px;
  left: 160px;
  font-size: 90%;
  color: rgb(253, 204, 70);
}

.finish-flag {
  position: absolute;
  right: 100px;
  bottom: 0;
}

.race {
  position: relative;
}

.winner-caption {
  display: none;
  color: white;
  position: absolute;
  text-shadow: 0 0 20px rgb(255, 72, 0);
  font-size: 36px;
  top: 50%;
  left: 25%;
}

.winner-caption_visible {
  display: block;
}