.footer {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
}

.rss-course-logo {
  display: block;
  width: 88px;
  height: 32px;
}

.github-logo {
  display: block;
  width: 32px;
  height: 32px;
}

.author-link {
  text-decoration: none;
  color: orange;
}